<h1 mat-dialog-title>Spēle beigusies!</h1>
<hr>
<mat-dialog-content class="mat-typography">
	<h2>Spēles rezultāti</h2>
	<ul>
		<li *ngFor="let user of usersList">
			<span *ngIf="user.points == highestPoints" class="colored">👑{{ user.nickname }} | {{ user.points }}</span>
			<span *ngIf="user.points != highestPoints">{{ user.nickname }} | {{ user.points }}</span>		
		</li>
	</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close color="warn">Aizvērt</button>
</mat-dialog-actions>