<div class="game">
  <div class="center">
    <button mat-raised-button (click)="startGame()">Start game</button>
  </div>

  <div class="main-container" *ngIf="isGameStarted">
    <div class="grid">
      <ng-container *ngFor="let tiles of tilesList">
        <ng-container *ngFor="let tile of tiles">
          <div class = "grid-computer defaultTile" *ngIf="!tile.selected" (click)="clickTile(tile)"></div>
          <div *ngIf="tile.selected" class="grid-computer" 
            [ngClass]="{ 
              'shipTile': tile.tileType == 'ship',
              'emptyTile': tile.tileType == 'empty',
              'goldenShipTile': tile.tileType == 'goldenShip',
              'pirateTile': tile.tileType == 'pirate',
              'mermaidTile': tile.tileType == 'mermaid',
              'krakenTile': tile.tileType == 'kraken'
            }">
          </div>
    
      
        </ng-container>
      </ng-container>
    </div>
      
    <!-- <div class="players-list" >
      <div *ngIf="!joined">
        <input type="text" [(ngModel)]="nickname" placeholder="Enter your nickname" />
        <input type="text" [(ngModel)]="room" placeholder="Enter the room name" />
        <button (click)="joinRoom()">Join</button>
      </div>
      <div *ngIf="joined">
        <h2>Users in {{ room }}</h2>
        <ul>
          <li *ngFor="let user of users">{{ user.nickname }}</li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- <div id="users" class=" players-list">
    lalala
  </div>

  <button mat-raised-button class="nextgame">
    Next game
  </button> -->
</div>



<!-- <div (click)="tilePressed(tile)" class="grid-computer" [ngClass]="{'defaultTile': !tile.selected,
'shipTile': (tile.selected == true) && (tile.tileType == tileTypes.ship)}"></div> -->

<!-- <ng-container *ngFor="let something of tilesList">
  <ng-container *ngFor="let word of something">
  <div class="word" *ngIf="!word.selected" (click)="revealSquare(word)" > </div>

  <div
    class="word"
    *ngIf="word.selected"
    [ngStyle]="{
      'background-color': 'black',
      'border-color': 'black'
    }"
  >
  </div>
</ng-container>
</ng-container> -->


<!-- <div class="game">
  <div class="center" *ngIf="!words">
    <button mat-raised-button (click)="startGame()">Start game</button>
  </div>

  <div class="flex-container">
    <ng-container *ngFor="let word of words">
      <div
        class="word"
        (click)="clickWord(word)"
      >
      </div>
      <div
        class="word"
        *ngIf="word.selected"
        [ngStyle]="{
          'background-color': 'black',
          'border-color': 'black'
        }"
      >
      </div>
    </ng-container>
  </div>
  <button mat-raised-button (click)="nextGame()" class="nextgame" *ngIf="words">
    Next game
  </button>
</div> -->

