<div class="container">
	<div class="header">
		<img src="../../../assets/logo.png" alt="Logo">
		<button mat-raised-button color="accent" (click)="openRules()">Noteikumi</button>
	</div>
	<ng-container *ngIf="!isGameStarted && pageUser?.isHost">
		<button class="button" mat-raised-button color="primary" (click)="startGame()">Sākt spēli</button>
	</ng-container>
	<div class="main-container" *ngIf="isGameStarted || isGameOver">
		<div class="grid">
			<ng-container *ngFor="let tiles of tilesList">
				<ng-container *ngFor="let tile of tiles">
					<div class="grid-computer defaultTile" *ngIf="!tile.selected && pageUser.skippedTurn != 1" (click)="clickTile(tile)"></div>
					<div *ngIf="tile.selected" class="grid-computer" [ngClass]="{ 
						'shipTile': tile.tileType == 'ship',
						'emptyTile': tile.tileType == 'empty',
						'goldenShipTile': tile.tileType == 'goldenShip',
						'pirateTile': tile.tileType == 'pirate',
						'mermaidTile': tile.tileType == 'mermaid',
						'krakenTile': tile.tileType == 'kraken'
						}">
					</div>
				</ng-container>
			</ng-container>
		</div>
		<div class="users players-list">
			<h2>Segvārds | Punkti</h2>
			<ul>
				<li *ngFor="let user of usersList; let i = index">
					<span *ngIf="pageUser.playerId == i" class="checkmark">(Jūs)&nbsp;</span>
					<span *ngIf="pageUser.playerId != i"></span>
					<span [ngClass]="{
						'userTurn': user.currentTurn,
						'userNoTurn': !user.currentTurn
						}">{{ user.nickname }}</span>
					&nbsp;<span class="pipe">|</span>&nbsp;<span class="points">{{ user.points }}</span>
					<span *ngIf="user.skippedTurn > 0" class="checkmark"> izlaiž</span>
					<span *ngIf="user.skippedTurn == 0"></span>
					<span *ngIf="user.extraTurn > 0" class="checkmark">  gājieni - {{user.extraTurn}} </span>
					<span *ngIf="user.extraTurn == 0"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="main-container" *ngIf="!isGameStarted">
		<div class="box">
			<p *ngIf="pageUser?.isHost">Spēlētāji gaida, kad uzsāksiet spēli</p>
			<p *ngIf="!pageUser?.isHost">Gaida kamēr {{hostUser?.nickname}} uzsāks spēli</p>
			<span class="loader"></span>
		</div>
		<div class="users players-list">
			<h2>Segvārds | Punkti</h2>
			<ul>
				<li *ngFor="let user of usersList; let i = index">
					<span *ngIf="pageUser.playerId == i" class="checkmark">(Jūs)</span>
					<span *ngIf="pageUser.playerId != i"></span>
					{{ user.nickname }} <span class="pipe">|</span>&nbsp;<span class="points">{{ user.points }}</span>
				</li>
			</ul>
			<button mat-raised-button color="warn" (click)="leaveRoom(pageUser)">Pamest istabu</button>
		</div>
	</div>
	<div class="footer">
		<p>Foggy sea © 2023</p>
	</div>
</div>