.main-container {
  display: flex;
  justify-content: center;
}

.button {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;
  right: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  width: 600px;
  height: 600px;
  margin: 75px 0;
}

@media (max-width: 992px) {
  .button {
    top: 75px;
  }
  .grid {
    width: 450px;
    height: 450px;
    margin: 135px 0;
  }
  .box {
    width: 450px !important;
    height: 450px !important;
    margin: 135px 0 !important;
  }
  .players-list {
    margin: 135px 15px !important;
  }
}

/* @media (max-width: 768px) {
  .grid {
    width: 400px;
    height: 400px;
    margin: 150px 0;
  }
  .box {
    width: 400px !important;
    height: 400px !important;
    margin: 150px 0 !important;
  }
  .players-list {
    margin: 150px 15px !important;
  }
} */

.grid-computer {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 2%;
}

.box {
  background-color: #8d99ae;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 75px 0;
}

.box p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.players-list {
  border: 1px solid #000;
  border-radius: 6px;
  background: #e0e0e0;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  width: 235px;
  height: 270px;
  margin: 75px 15px;
}

.players-list ul {
  list-style-type: none;
}

.players-list ul li {
  color: #3498db;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 15px;
}

.players-list h2 {
  background-color: #a2d2ff;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0;
}

.players-list button {
  margin-top: 225px;
  margin-left: 50px;
}

.checkmark {
  color: #e74c3c;
  font-weight: normal;
}

.points {
  color: #27ae60;
  font-weight: bold;
}

.pipe {
  color: #000;
  font-weight: normal;
}

.userTurn {
  animation: flashing 1s infinite linear;
}

@keyframes flashing {
  0% {
    color: blue;
  }
  50% {
    color: #3498db;
  }
  100% {
    color: blue;
  }
}

.defaultTile {
  background-color: gray;
}

.shipTile {
  background-image: url(/assets/regular_ship.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.emptyTile {
  background-image: url(/assets/empty.png);
  background-color: #ccc;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goldenShipTile {
  background-image: url(/assets/golden_ship.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pirateTile {
  background-image: url(/assets/pirate.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mermaidTile {
  background-image: url(/assets/mermaid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.krakenTile {
  background-image: url(/assets/kraken.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
