.main-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  width: 600px;
  height: 600px;
  margin: 75px 0;
}

.grid-computer {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 2%;
}

.box {
  background-color: lightslategray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 75px 0;
}

.box p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.players-list {
  border: 1px solid black;
  width: 200px;
  height: 235px;
  margin: 75px 15px;
}

.players-list ul {
  list-style-type: none;
}

.players-list ul li {
  color: cadetblue;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 15px;
}

.players-list h4 {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #000;
  margin: 0;
}

.defaultTile {
  background-color: gray;
}

.shipTile {
  background-color: cyan;
}

.emptyTile {
  background-color: blue;
}

.goldenShipTile {
  background-color: gold;
}

.pirateTile {
  background-color: black;
}

.mermaidTile {
  background-color: red;
}

.krakenTile {
  background-color: purple;
}

.nicknameTurn {
  color: blue;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
